.token {
  background: url("../images/token/bg.png") center/cover no-repeat;
  position: relative;
  top: -580px;
  height: 1059px;
  color: aliceblue;
  padding: 150px 0 200px;
  &__title {
    text-align: left;
    left: 45px;
    position: relative;
    margin-bottom: 28px;
  }
  &__cost {
    width: 448px;
    padding: 23px 66px 23px 45px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    border: 2px solid #515050;
    border-radius: 20px;
    margin-bottom: 46px;
    background: rgba(196, 196, 196, 0.1);
  }
  &__name {
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%), #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &__desc {
    max-width: 460px;
    font-style: normal;
    font-size: 18px;
    // line-height: 26px;
    color: #ffffff;
  }
  &__item{
    display: flex;
    margin-bottom: 10px;
    &::before{
      content: url(../images/token/star.svg);
    }
  }
}
