@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Jost:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s;
  &::before,
  ::after,
  :hover {
    transition: 0.3s;
  }
}
img {
  width: 100%;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
}
.main {
  height: 0px;
}
.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "./global";
@import "./header";
@import "./home";
@import "./video";
@import "./what";
@import "./box";
@import "./gear";
@import "./vr";
@import "./concept";
@import "./token";
@import "./team";
@import "./partners";
@import "./footer";
