@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Jost:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s;
}
*::before,
* ::after,
* :hover {
  transition: 0.3s;
}

img {
  width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.main {
  height: 0px;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.social-media {
  display: flex;
  gap: 25px;
}
.social-media__link {
  width: 45px;
  height: 45px;
}
.social-media__link a {
  background: linear-gradient(0deg, #111110, #111110), #c4c4c4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 43px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #d2d8de 0%, #feffff 23.96%, #c0c3c6 50.52%, #b6bbbf 79.69%, #acb2b7 98.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.desc {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.btn {
  border-radius: 7.15189px;
  width: 264px;
  height: 65px;
  font-weight: 700;
  border: 1.78082px solid #fff61b;
  background: url(../images/home/btn-bg.svg), linear-gradient(180deg, #ffa12a 0%, #feef6d 100%);
  font-size: 22px;
  color: #774200;
}
.btn:last-child {
  background: transparent;
  border: 1.78082px solid #c4c4c4;
  color: #c4c4c4;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 21px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47) 25.63%, rgba(0, 0, 0, 0) 117.23%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.header__logo {
  width: 80px;
}
.header__links {
  display: flex;
  gap: 40px;
}
.header__links-item {
  font-family: "Jost", sans-serif;
  position: relative;
  font-size: 18px;
  color: #ffffff;
}
.header__links-item::before {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%);
  width: 0%;
  height: 3px;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 16px;
}
.header__links-item--active::before, .header__links-item:hover::before {
  width: calc(100% + 10px);
}
.header__btns {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.header__btn {
  padding: 10px 21px;
  border-radius: 5px;
  white-space: nowrap;
  background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%);
  border: 1.78082px solid #fff61b;
  font-weight: 700;
  color: #774200;
}
.header__btn:first-child {
  background: transparent;
  border: 2px solid #ffffff;
  opacity: 0.45;
  color: #ffffff;
}
.header__btn:last-child {
  border: none;
}

.home {
  padding-top: 190px;
  background: black;
  z-index: 0;
  position: relative;
  height: 100vh;
}
.home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.25;
}
.home__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.home__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.home__list-item {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.68);
}
.home__list-item::before {
  content: url(../images/home/aim.svg);
  top: 0;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.home__list-item:hover {
  color: #ffcd4f;
}
.home__btns {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
}

.video {
  padding: 120px 0 126px;
  margin: 0 auto;
  background: black url("../images/video/bg.png") center/cover no-repeat;
}
.video__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
}
.video__item {
  text-align: center;
}
.video__title {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%), rgba(255, 255, 255, 0.68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 50px;
}
.video__preview {
  margin: 0 auto;
  height: 413px;
  width: 734px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/video/preview.png") center/cover no-repeat;
}
.video__preview-icon {
  max-width: 75px;
  max-height: 75px;
}

.what {
  padding: 100px 0 190px;
  position: relative;
  background: black;
  top: 0;
}
.what__subtitle {
  font-weight: 600;
  font-size: 43px;
  background: linear-gradient(180deg, #d2d8de 0%, #feffff 23.96%, #c0c3c6 50.52%, #b6bbbf 79.69%, #acb2b7 98.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.what__title {
  margin-bottom: 20px;
}
.what__desc {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  max-width: 600px;
}
.what::before {
  content: "";
  top: -100px;
  left: 0;
  position: absolute;
  background: url("../images/what/bg.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.what .container {
  position: relative;
  top: -100px;
  z-index: 2;
}

.asd {
  font-size: 22px;
}

.box {
  padding: 0px 0 160px;
  position: relative;
  top: -120px;
  background: black url("../images/box/bg.png") center/cover no-repeat;
}
.box__content {
  position: relative;
}
.box__title {
  margin-bottom: 27px;
}
.box__desc {
  max-width: 1100px;
  margin: 0 auto 51px;
}
.box__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 330px;
  position: relative;
  border: 4px solid #ffff3f;
  border-radius: 25px;
}
.box__item-img {
  max-width: 60%;
  max-height: 60%;
}
.box__item-title {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}
.box__item--black {
  border: 4px solid #515050;
}
.box__item--fio {
  border: 4px solid #6625d6;
}
.box__next {
  position: absolute;
  top: 35%;
  right: 0;
  cursor: pointer;
  opacity: 0.59;
}
.box__next.swiper-button-disabled {
  opacity: 0.19;
}
.box__prev {
  position: absolute;
  top: 35%;
  left: 0;
  cursor: pointer;
  opacity: 0.59;
}
.box__prev.swiper-button-disabled {
  opacity: 0.19;
}

.swiper {
  width: 80% !important;
  height: 80% !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.swiper-pagination-bullet {
  width: 35px !important;
  height: 35px !important;
  background: #c4c4c4 !important;
  position: relative;
}
.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  box-shadow: 0px 3.61702px 7.23404px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active {
  width: 35px !important;
  height: 35px !important;
  background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%), #fefe40 !important;
}

.swiper-pagination {
  position: relative !important;
}

.gear {
  top: -120px;
  padding-bottom: 126px;
  position: relative;
  background: #000;
}
.gear__title {
  margin-bottom: 64px;
}
.gear__content {
  position: relative;
}
.gear__card {
  width: 100%;
  border: 3px solid #6625d6;
  border-radius: 25px;
  padding: 30px 40px;
}
.gear__card img {
  width: 100%;
}
.gear__thumb {
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 60px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gear__thumb img {
  min-height: 50%;
  min-width: 333%;
}
.gear__next {
  cursor: pointer;
  position: absolute;
  top: 43%;
  right: 200px;
  transform: translateY(-50%);
  opacity: 0.59;
}
.gear__next.swiper-button-disabled {
  opacity: 0.19;
}
.gear__prev {
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: 200px;
  transform: translateY(-50%);
  opacity: 0.59;
}
.gear__prev.swiper-button-disabled {
  opacity: 0.19;
}

.mySwiper3 .swiper-slide {
  border: 3px solid #515050;
  border-radius: 10px;
}
.mySwiper3 .swiper-slide.swiper-slide-thumb-active {
  border: 3px solid #6625d6;
}

.gear .mySwiper2 {
  width: 50% !important;
}

.gear .mySwiper3 .swiper-slide {
  opacity: 0.4;
}

.gear .mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.vr {
  padding: 69px 0 141px;
  background: black url("../images/vr/bg.png") center/cover no-repeat;
  top: -125px;
  position: relative;
}
.vr__title {
  margin-top: -75px;
}
.vr__desc {
  margin: 15px auto 90px;
  max-width: 890px;
  text-align: center;
}
.vr__preview {
  margin: 0 auto;
  height: 413px;
  width: 734px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/vr/prev.png") center/cover no-repeat;
}
.vr__preview__preview-icon {
  max-width: 75px;
  max-height: 75px;
}

.concept {
  background: black url("../images/concept/bg.png") center/100% no-repeat;
  position: relative;
  top: -130px;
  padding: 100px 0 0;
  color: white;
  height: 1198px;
}
.concept__title {
  margin-bottom: 58px;
}
.concept__row {
  display: flex;
  -moz-column-gap: 63px;
       column-gap: 63px;
}
.concept__box {
  width: calc(50% - 31px);
}
.concept__box-desc {
  max-width: 573px;
  margin-bottom: 51px;
  text-align: left;
}
.concept__box-top {
  display: flex;
  -moz-column-gap: 13px;
       column-gap: 13px;
  padding: 18px 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #5b2b30 -90.77%, #6b3935 12.11%, #a25b48 97.02%);
  border-radius: 5.49533px 5.49533px 0px 0px;
}
.concept__box-title {
  font-weight: 700;
  font-size: 22.2603px;
  color: #ffffff;
  text-shadow: 0px 1.83178px 0px rgba(152, 97, 86, 0.35);
}
.concept__box-menu {
  padding: 22px 0 24px 75px;
  border: 3px solid #515050;
  border-radius: 0px 0px 25px 25px;
  border-top: none;
}
.concept__box-item {
  font-weight: 600;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 20px;
  line-height: 196.5%;
  text-transform: uppercase;
  position: relative;
  color: rgba(255, 255, 255, 0.68);
}
.concept__box-item::before {
  content: url("../images/concept/aim.svg");
  position: absolute;
  top: 6px;
  left: -45px;
}
.concept__box-play {
  margin-bottom: 40px;
}
.concept__buttons {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
}

.token {
  background: url("../images/token/bg.png") center/cover no-repeat;
  position: relative;
  top: -580px;
  height: 1059px;
  color: aliceblue;
  padding: 150px 0 200px;
}
.token__title {
  text-align: left;
  left: 45px;
  position: relative;
  margin-bottom: 28px;
}
.token__cost {
  width: 448px;
  padding: 23px 66px 23px 45px;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  border: 2px solid #515050;
  border-radius: 20px;
  margin-bottom: 46px;
  background: rgba(196, 196, 196, 0.1);
}
.token__name {
  font-weight: 600;
  font-size: 24px;
  background: linear-gradient(180deg, #ffa12a 0%, #feef6d 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.token__desc {
  max-width: 460px;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}
.token__item {
  display: flex;
  margin-bottom: 10px;
}
.token__item::before {
  content: url(../images/token/star.svg);
}

.team {
  background: black url("../images/team/bg.png") center/100% no-repeat;
  height: 1080px;
  padding: 100px 0 100px;
  position: relative;
  text-align: center;
  top: -755px;
  z-index: -1;
}
.team__desc {
  max-width: 1043px;
  margin: 30px auto 50px;
}
.team__photos {
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  margin-bottom: 58px;
}
.team__card {
  width: 195px;
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3137254902);
}
.team__img {
  width: 80%;
  max-width: 195px;
  max-height: 195px;
}
.team__img:hover {
  width: 100%;
}
.team__icon {
  max-width: 80px;
  background: transparent;
}
.team__botton {
  border-radius: 7.15189px;
  width: 350px;
  height: 65px;
  font-weight: 700;
  border: 1.78082px solid #fff61b;
  background: url(../images/home/btn-bg.svg), linear-gradient(180deg, #ffa12a 0%, #feef6d 100%);
  font-size: 22px;
  color: #774200;
}

.partners {
  padding: 155px 0 156px;
  position: relative;
  top: -1030px;
  z-index: -2;
}
.partners::before {
  content: "";
  position: absolute;
  background: black url("../images/partners/bg.png") center/100% no-repeat;
  top: 200px;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
}
.partners__title {
  margin: 141px 0 71px;
}
.partners__row {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1015px;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.partners__row-item {
  width: 230px;
  height: 70px;
  background: rgba(196, 196, 196, 0.42);
  border: 2px solid rgba(255, 255, 255, 0.58);
  border-radius: 12px;
}

.footer {
  background: black;
  position: relative;
  padding: 30px 0 20px;
  top: -1000px;
  color: white;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.footer__social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  background: linear-gradient(0deg, #111110, #111110), #c4c4c4;
  border-radius: 5px;
}
.footer__social-contact {
  width: 80px;
  background: none;
}
.footer__right-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}